.services-heading{
    margin-top: 0px;
}

#services hr{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 50px;
    border-width: 3px;
    border-color: #f05f40;
}

#services .col-lg-12{
    text-align: center!important;
}

section{
    padding: 6rem 0;
}